<h1>Contact</h1>

<p>Via het onderstaande contactformulier kunt u ons bereiken:</p>

<%= form_for @question do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :email %>
  <%= f.email_field :email %>

  <%= f.label :message %>
  <%= f.text_area :message %>

  <%= f.submit 'Submit' %>
<% end %>