<h1>Contact</h1>

<p>Via het onderstaande contactformulier kunt u ons bereiken:</p>

<%= form_for @question do |f| %>
  <%= f.label "naam" %>
  <%= f.text_field :name, placeholder: "uw naam" %>

  <%= f.label "email" %>
  <%= f.email_field :email, placeholder: "uw mailadres" %>

  <%= f.label "bericht" %>
  <%= f.text_area :message, placeholder: "uw bericht", rows: 5 %>

  <%= f.submit "Verzenden", class: "small button" %>
<% end %>
