<h1><%= @category.name %></h1>
<%= Kramdown::Document.new(@page.content).to_html.html_safe if @page.content %>
<% @products.each do |product| %>
	<h2><%= product.name %></h2>
	<p><%= product.short_description %><br>
	<%= link_to "meer info", product %></p>
<% end %>
