<h1>Aanmelding</h1>

<p>Hartelijk dank voor uw interesse in de <%= @product.category.name.downcase %> <%= @product.name %>!</p>

<p>Houdt u er s.v.p. rekening mee dat uw aanmelding pas definitief is nadat u betaald heeft!</p>

<%= form_for @transaction do |f| %>
  <%= f.hidden_field :product_id, value: @product.id %>
	<%= f.fields_for :user do |builder| %>
		<%= f.label "Mailadres *" %>
		<%= builder.text_field :email, placeholder: "naam@provider.com", required: true %>
		<% unless @transaction.errors[:email].empty? %>
			<small class="error">Voer a.u.b. uw mailadres in</small>
		<% end %>
		<div class="row">
			<div class="small-6 columns">
				<%= f.label "Voornaam *" %>
				<%= builder.text_field :first_name, placeholder: "uw voornaam" %>
				<% unless @transaction.errors.messages[:"user.first_name"].nil? %>
					<small class="error">Voer a.u.b. uw voornaam in</small>
				<% end %>
			</div>
			<div class="small-6 columns">
				<%= f.label "Achternaam *" %>
				<%= builder.text_field :last_name, placeholder: "uw achternaam" %>
				<% unless @transaction.errors.messages[:"user.last_name"].nil? %>
					<small class="error">Voer a.u.b. uw achternaam in</small>
				<% end %>
			</div>
		</div>
	<% end %>	
	<div class="row">
		<div class="small-12 columns">
			<%= f.label "Uw bericht" %>
			<%= f.text_area :message, placeholder: "uw bericht (optioneel)", rows: 5 %>
		</div>
	</div>
	<div class="row">
		<div class="small-12 columns">
			<%= f.check_box :accept_conditions, id: "transaction_accept_conditions", class: "left inline"	%>
			<%= f.label "accept_conditions", raw("Gaat u akkoord met onze #{link_to 'voorwaarden', page_path('voorwaarden'), :'data-reveal-id' => 'voorwaarden' }?") %>
		</div>
	</div>
	<% unless @transaction.errors[:accept_conditions].empty? %>
		<small class="error">U kunt zich alleen aanmelden als u akkoord gaat met onze voorwaarden.</small>
	<% end %>
	<br>
	<div class="row">
		<div class="small-12 columns">
			<%= f.submit "Aanmelding bevestigen", class: "small button right" %>
		</div>
	</div>
<% end %>

<div id="modal">
	<%= content_tag :div, id: "voorwaarden", class: "reveal-modal", :'data-reveal aria-labelledby' => 'voorwaardenModal', :role => 'dialog' do %>
		<h1 id="voorwaardenModal">Voorwaarden</h1>
		<% if @conditions && !@conditions.content.blank? %>
			<%= Kramdown::Document.new(@conditions.content).to_html.html_safe %>
		<% else %>
			<p>Voorwaarden ontbreken</p>
		<% end %>
		<a class="close-reveal-modal" aria-label="Close">&#215;</a>
	<% end %>
</div>
