<h1>Aanmelding</h1>

<p>Hartelijk dank voor uw interesse in de <%= @product.category.name.downcase %> <%= @product.name %>!</p>

<p>Houdt u er s.v.p. rekening mee dat uw aanmelding pas definitief is nadat u betaald heeft!</p>

<%= form_for @transaction do |f| %>
  <%= f.hidden_field :product_id, value: @product.id %>
	<%= f.fields_for :user do |builder| %>
		<%= builder.text_field :email %>
	<% end %>
  <%= f.submit "Aanmelden", class: "small button" %>
<% end %>
