<div class="row">
  <div class="large-8 columns">
	<h1><%= @product.name %></h1>
   	<p><%= Kramdown::Document.new(@product.description).to_html.html_safe %></p>
	<table>
		<% @product.events.each do |event| %>
		<tr>
			<td><%= l event.eventdate, format: :long %></td><td><%= l event.starttime, format: :time %> - <%= l event.endtime, format: :time %></td><td><%= event.name %></td>
		<% end %>
		</tr>
	</table>
  </div>
  <div class="large-4 columns">
    <ul class="pricing-table">
			<li class="title"><%= @product.category.name %>: <%= @product.name %></li>
      <li class="price">&euro;&nbsp;<%= @product.price if @product.price %></li>
      <li class="bullet-item"><%= @product.teacher.name if @product.teacher %></li>
			<li class="bullet-item"><%= @product.location.name %><br><%= @product.location.address %><br><%= @product.location.postcode %> <%= @product.location.city %></li>
      <li class="cta-button"><%= button %></li>
    </ul>
    <%= image_tag(@product.picture) if @product.picture %>
  </div>
</div>