<ul id="sidebar_nav">
  <% @page_nav.where(main_navigation: false).each do |page| %>
    <li><%= nav_link_to(page.name.downcase, page_path(page.permalink), id: page.permalink) %></li>
  <% end %>
</ul>
<!-- <ul id="user_nav">
	<% if user_signed_in? %>
 		<li><%= link_to 'wijzigen', edit_user_registration_path %><li>
		<li><%= link_to "uitloggen", destroy_user_session_path, method: :delete %></li>
	<% else %>
  	<li><%= link_to "maak account", new_user_registration_path %></li>
		<li><%= link_to "inloggen", new_user_session_path %></li>
		<% end %>
</ul> -->
<% if user_signed_in? %>
  <p>Ingelogd als:<br><strong><%= current_user.email %></strong></p>
<% end %>