<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
  <head>
    <meta charset="utf-8" />

  	<!-- Uncomment to make IE8 render like IE7 -->
  	<!-- <meta http-equiv="X-UA-Compatible" content="IE=7" /> -->

  	<!-- Set the viewport width to device width for mobile -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lassche &amp; Lassche</title>
		<%= stylesheet_link_tag "application", media: "all" %>
    <!-- <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %> -->
    <!-- <%= javascript_include_tag "application", "data-turbolinks-track" => true %> -->
    <%= javascript_include_tag "vendor/custom.modernizr" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
		<div id="horizon-container">
			<div id="horizon">
			</div>
		</div>
		<header id="header" class="row">
		  <section id="marketing" class="large-6 columns">
			<div id="logo"> </div>
				<div id="icon"></div>
				<%= image_tag("logo_with_text.svg", alt: "logo", class: "logo") %>
		    <h1><%= link_to (raw "<span>lassche</span> & <span>lassche</span>"), root_path %></h1>
		    <h2>kunst- en cultuureducatie</h2>
			</section>
		  <aside id="marketing-right" class="large-6 columns">
		    <p id="tagline">je <span>ziet</span> meer<br /> als je weet waar je naar kijkt</p>
		  </aside>
		</header>
			<div id="container">
      	<div class="row">
        	<nav id="main_nav" class="large-offset-3 large-9 columns">
        		<%= render 'layouts/nav' %>
        	</nav>
				</div>
      	<div class="row" id="main_content">
        	<div class="large-6 push-3 columns">
          	<%= render 'layouts/messages' -%>
          	<%= yield %>
        	</div>
        	<nav class="large-3 pull-6 columns" id="sidebar">
          	  <%= render 'layouts/sidebar' %>
							<%= render 'layouts/social' %>
        	</nav>
					<aside class="large-3 columns" id="aside">
						<%= render 'layouts/aside' %>
					</aside>
      	</div>
			</div>
		  <footer class="row">
			  <div class="large-12 columns">
					<p>Lassche &amp; Lassche Kunst en Cultuureducatie V.O.F.<br>
					Mercurius 3<br>
					2353 WP Leiderdorp<br>
					Telefoonnummer<br>

					KVK<br>
					Bankrekeningnummer</p>
					<p>Copyright <%= Time.now.year %></p>
			  </div>
		  </footer>
    <%= javascript_include_tag "application" %>
    <%= yield :head %>
  </body>
</html>
